.user{
    display: flex;
    background: rgb(255, 255, 255);
    width: 300px;
    height: 80px;
    margin: auto;
    margin-bottom: 30px;
    align-items: center;
    column-gap: 80px;
    padding: 0px 20px;
    border-radius: 10px;
}
.ava{
    cursor: pointer;
    object-fit: cover;
    image-rendering:crisp-edges;
    height: 70px;
    width: 70px;
    float:left;
    border-radius: 100%; 

}
.name{
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;

}
.folbtn{
    color: black;
    height: 30px;
    width: 120px;
    align-self:center;
    margin-bottom: 7px;
    border: none;
    cursor: pointer;
}
.btn{
    display: flex;
    flex-direction: column;
}