.users {
    padding-top: 20px;
}

.SettingSearch {
    display: flex;
    padding-top: 20px;
    gap: 10px;
    justify-content: center;
}

.search_users {
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-family: 'Poppins';
    border: none;
}

.search_users:focus {
    outline: 2px solid #fd7dd2;
}

.sort_btn {
    content: '';
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
}

.sort_btn.follow {
    background: url(../../image/Follow.svg);
    background-repeat: no-repeat;
}

.sort_btn.nofollow {
    background: url(../../image/noFollow.svg);
    background-repeat: no-repeat;
}

.sort_btn.all {
    background: url(../../image/Search.svg);
    background-repeat: no-repeat;
}