.status{
    display: flex;
    justify-content: center;
    height: 20px;
    cursor: text;
}
.mystatus{
    display: flex;
    justify-content: center;
    height: 20px;
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
.editabeStatus input{
    cursor:auto;
    border: none;
    outline: none;
    
}