.status {
    display: flex;
    justify-content: center;
    height: 20px;
}

.mystatus {
    display: flex;
    justify-content: center;
    height: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.editabeStatus input {
    cursor: auto;
    border: none;
    outline: none;
}

.mystts {
    cursor: pointer;
}

.stts {
    cursor: text;
}