.header{
    text-align: center;
}
.formLogin {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

.login {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;   
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    width: 230px;
    height: 30px;
    background: rgb(233, 233, 236);
    border-radius: 8px;
    outline: none;
}

.password {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    width: 200px;
    height: 30px;
    background: rgb(233, 233, 236);
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(233, 233, 236) inset;
}
.rememberme {
    margin-left: 43px;
}
.checboxrememberme{
    width: 30px;
}
.loginbtn {
    margin: auto;
    width: 100px;
    height: 30px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
}
.loginbtn:hover{
    background: rgb(53, 53, 53);
}
.loginbtn:active{
    background: rgb(0, 0, 0);
}
