.app-wrapper {
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "head cont"
  "nav cont";
  grid-template-rows: 60px ;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}
.app-content{
  min-height: 100vh;
  grid-area: cont;
  background: #f3ccec;
}


