.content{
    display: grid;
    grid-template-areas: 'dialogs dialog'
                         'dialogs inputmess';
    grid-template-columns: 2fr 10fr;
    box-sizing: content-box;
    
}
.dialog{
    width: 450px;
    height: 400px;
    overflow-y: auto;
    grid-area: dialog;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 50px;
    overflow-y:auto;
    background: #f3d3f0;;
}

.dialogs{
    grid-area: dialogs;
    border-right: 5px solid black;
}
.sendmess{
    grid-area: inputmess;
    display: flex;
    gap: 10px;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 150px;
    padding-right: 200px;
}
.sendmess input{
    width: 500px;
    border: none;
}
.sendmess input:focus{
    outline: none;
    
}
.dialog::-webkit-scrollbar{
    width: 8px;
}
.dialog::-webkit-scrollbar-track{
    border-radius: 500px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
}
.dialog::-webkit-scrollbar-thumb{
    border-radius: 500px;
    background: #a14ce7;
}
